//- mixin works-slider()

//-   .works-slider
//-     div
//-       h1 1
//-     div
//-       h1 2
//-     div
//-       h1 3
//-     div
//-       h1 4


mixin works__item(params)

  - const { img, alt, sector, title } = params;

  .works__item
    .works__item-img
      img(class='works__item-img' src=require(`../blocks/works/${img}.png`), alt=`${alt}`)
    .works__item-info
      span.works__item-sector=sector
      p.works__item-title=title
      span.works__item-about case study →